@model IEnumerable<WebApplication.Adelantos>
@{ Layout = null; }


@Scripts.Render("~/AdminLTE/plugins/jquery/jsB")
@Scripts.Render("~/AdminLTE/plugins/jquery-ui/jsB")
@Scripts.Render("~/AdminLTE/bootstrap/jsB")
@Scripts.Render("~/Scripts/modalform.js")
@Scripts.Render("~/AdminLTE/plugins/datatables/jsB")

<input hidden="hidden" value=2 id="suma1" />
<input hidden="hidden" value=3 id="suma2" />
<input hidden="hidden" value=4 id="texto1" />

<script src="../../Scripts/tablaexportar.js"></script>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="box-body">
    <p>
        @Html.ActionLink("Agregar Adelantos", "Create", "Adelantos", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-success hidden-print" })

    </p>
    <table class="table table-bordered table-striped" id="tabla">
        <thead>
            <tr>
                <th>
                    activo
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Monto
                </th>
                <th>
                    Recuperado
                </th>
                <th>
                    Entregado a
                </th>
                <th>
                    Fecha
                </th>

                <th>
                    Creado por
                </th>
                <th>
                    Editado por
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    activo
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Monto
                </th>
                <th>
                    Recuperado
                </th>
                <th>
                    Entregado a
                </th>
                <th>
                    Fecha
                </th>

                <th>
                    Creado por
                </th>
                <th>
                    Editado por
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.Raw(string.Format(new System.Globalization.CultureInfo("es-AR"), "{0:C}", item.monto)).ToHtmlString()
                    </td>
                    <td>
                        @{decimal totalRecuperado = Convert.ToDecimal(Html.Action("getPagadoAdelanto", "Adelantos", new { idAdelanto = item.idAdelanto }).ToString());
                            @Html.Raw(string.Format(new System.Globalization.CultureInfo("es-AR"), "{0:C}", totalRecuperado)).ToHtmlString()}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Terceros.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers.NameIdentifier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Editado.NameIdentifier)-
                        @Html.DisplayFor(modelItem => item.fechaEditado)
                    </td>

                    <td>

                        @Html.Raw(@Html.ActionLink("XXX", "Edit", "Adelantos", new { id = item.idAdelanto }, new { data_modal = "", id = "btnEdit", @class = "btn btn-warning hidden-print", @style = "margin-right:3px; margin-bottom:3px", @title = "Editar" }).ToHtmlString().Replace("XXX", "<i class='fa fa-pencil'></i>"))

                    </td>
                </tr>
                            }
        </tbody>
    </table>
</div>