@model WebApplication.ModelosEquipos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ModelosEquipos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.activo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.activo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.costoHora)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.costoHora)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.costoDia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.costoDia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.precioHora)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.precioHora)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.precioDia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.precioDia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoEquipos.descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoEquipos.descripcion)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idModelo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
