@model WebApplication.ModelosEquipos


@{
    ViewBag.Title = "Edit";
}

<div class="modal-header ">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true" href="">&times;</a>
    <h4 class="modal-title" id="myModalLabel">Editar Modelo</h4>
</div>
 
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body ">
        <div class="form-horizontal">              
         @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.idModelo)

       

        <div class="form-group">
             <b class="control-label col-md-3">Descripción</b>
           
          
           <div class="col-md-9">   
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
             <b class="control-label col-md-3">Costo x hora</b>         
           <div class="col-md-3">   
                @Html.EditorFor(model => model.costoHora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.costoHora, "", new { @class = "text-danger" })
            </div>
             <b class="control-label col-md-3">Precio x hora</b>
           <div class="col-md-3">   
                @Html.EditorFor(model => model.precioHora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.precioHora, "", new { @class = "text-danger" })
            </div>       
        </div>

        <div class="form-group">
             <b class="control-label col-md-3">Costo x día</b>
           <div class="col-md-3">   
                @Html.EditorFor(model => model.costoDia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.costoDia, "", new { @class = "text-danger" })
            </div>
             <b class="control-label col-md-3">Precio x día</b>
           <div class="col-md-3">   
                @Html.EditorFor(model => model.precioDia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.precioDia, "", new { @class = "text-danger" })
            </div>      
        </div>

        <div class="form-group">
            <b class="control-label col-md-3"> Tipo de servicio</b>
           <div class="col-md-9">   
                @Html.DropDownList("idTipoServicio", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTipoServicio, "", new { @class = "text-danger" })
            </div>
        </div>

        
        </div>
     </div>

        <div class="modal-footer">
            <a class="btn btn-warning hidden-print" data-dismiss="modal">Cancelar</a>
            <input class="btn btn-success hidden-print" type="submit" value="Aceptar" id="submit" />
        </div>
}


