@model IEnumerable<WebApplication.MovimientosEventos>

<input hidden="hidden" value=4 id="suma1" />
<input hidden="hidden" value=1 id="fecha1" />
<input hidden="hidden" value=3 id="suma2" />

<script src="../../Scripts/tablaexportar.js"></script>


    <div class="box-body">

        <table class="table table-bordered table-striped" id="tabla">
            <thead>
                <tr>
                    <th>
                        activo
                    </th>
                    <th>
                        Fecha Emisión
                    </th>
                    <th>
                        Concepto
                    </th>
                    <th>
                        Debe
                    </th>
                    <th>
                        Haber
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        activo
                    </th>
                    <th>
                        Fecha Emisión
                    </th>
                    <th>
                        Concepto
                    </th>
                    <th>
                        Debe
                    </th>
                    <th>
                        Haber
                    </th>
                    <th>
                    </th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            @Html.Raw(item.fecha.ToShortDateString()).ToHtmlString()
                        </td>
                        <td>
                            @{
                                if (item.ingreso != null)
                                {
                                    @Html.Raw(item.ingreso.descripcion + " factura - Nº" + item.ingreso.factura + " de " + item.ingreso.Terceros.nombre)
                                }
                                if (item.egreso != null)
                                {

                                    @Html.Raw(item.egreso.descripcion + " factura - Nº" + item.egreso.factura + " de " + item.egreso.Terceros.nombre)
                                }
                                if (item.cobro != null)
                                {
                                    @Html.Raw("Cobro de Nº" + item.cobro.Ingresos.factura + " de " + item.cobro.Ingresos.Terceros.nombre)

                                }
                                if (item.pago != null)
                                {
                                    @Html.Raw("Pago de Nº" + item.pago.Egresos.factura + " de " + item.pago.Egresos.Terceros.nombre)

                                }
                            }
                        </td>
                        @*debe*@
                        <td>
                            @{

                                if (item.cobro != null)
                                {
                                    @item.cobro.monto;
                                }

                                if (item.egreso != null)
                                {
                                    @Html.Raw(Html.Action("getTotalEgreso", "Egresos", new { idEgreso = item.egreso.idEgreso }).ToString())

                                }
                            }
                        </td>
                        @*haber*@
                        <td>
                            @{
                                if (item.pago != null)
                                {
                                    @item.pago.monto;
                                }
                                if (item.ingreso != null)
                                {
                                    @Html.Raw(Html.Action("getTotalIngreso", "Ingresos", new { idIngreso = item.ingreso.idIngreso }).ToString())
                                }
                            }

                        </td>
                        <td>


                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>

