@model WebApplication.Ingresos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ingresos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaLimite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaLimite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaGenerada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaGenerada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCobro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCobro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalCobrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalCobrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enBlanco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enBlanco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.NameIdentifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.NameIdentifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuentas.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuentas.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eventos.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eventos.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Terceros.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terceros.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idIngreso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
