@model IEnumerable<WebApplication.MovimientosEquipos>
@{
    if (ViewBag.unEquipo == "si")
    {
        ViewBag.Title = "Movimientos de " + ViewBag.Descripcion;
    }
    else
    {
        ViewBag.Title = "Movimientos de equipos";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
    <script>
        $(function () {
            var menuItem = $('#left-sidebar-menu-inventario');
            menuItem.addClass('active');
            var subMenuItem = menuItem.find('#left-sidebar-menu-movimientos-equipos');
            subMenuItem.addClass('active');
        });
    </script>
    <script src="../../Scripts/tablaexportar.js"></script>
}

<input hidden="hidden" value=3 id="fecha1" />
<input hidden="hidden" value=3 id="fecha2" />

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>



<div class="box">
    <div class="box-header">
        <h3 class="box-title"> Lista de Movimientos</h3>
    </div>
    <div class="box-body">
        <p>
            @Html.ActionLink("Agregar Movimiento", "Create", "MovimientosEquipos", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-success hidden-print" })

        </p>
        <table class="table table-bordered table-striped" id="tabla">
            <thead>
                <tr>
                    <th>
                        activo
                    </th>
                    <th>
                        Movimiento
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Evento
                    </th>
                    <th>
                        Autorizado por
                    </th>

                    <th>
                        Modelo de equipo
                    </th>
                    <th>
                        Nº de serie
                    </th>
                    <th>
                        Editado por
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        activo
                    </th>
                    <th>
                        Movimiento
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Evento
                    </th>
                    <th>
                        Autorizado por
                    </th>

                    <th>
                        Modelo de equipo
                    </th>
                    <th>
                        Nº de serie
                    </th>
                    <th>
                        Editado por
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tipoMovimiento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Eventos.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUsers.NameIdentifier)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Equipos.ModelosEquipos.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipos.serialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Editado.NameIdentifier) -
                            @Html.DisplayFor(modelItem => item.fechaEditado)

                        </td>
                        <td>
                            @{
                                if (item.tipoMovimiento == tipoMovimiento.aEvento)
                                {
                                    @Html.Raw(@Html.ActionLink("XXX", "Edit", "MovimientosEquipos", new { id = item.idMovimientoEquipo }, new { data_modal = "", id = "btnEdit", @class = "btn btn-warning hidden-print", @style = "margin-right:3px; margin-bottom:3px", @title = "Editar" }).ToHtmlString().Replace("XXX", "<i class='fa fa-pencil'></i>"))
                                }
                            }
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>
