@model WebApplication.MantenimientoPreventivo


@{
    ViewBag.Title = "Create";
}

<script src="~/AdminLTE/plugins/datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/AdminLTE/plugins/datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />

<script type="text/javascript">
		$('document').ready(function() {
		    $('.datepicker').datepicker({
		        autoclose: true,
		        format: 'dd/mm/yyyy'
		    });
		});
</script>

<div class="modal-header ">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true" href="">&times;</a>
    <h4 class="modal-title" id="myModalLabel">Agregar</h4>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="modal-body "> 
        <div class="form-horizontal">     
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
                <b class="control-label col-md-3">Descripción</b>           
            <div class="col-md-9">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                <b class="control-label col-md-3"> Grupo de equipos</b>
                <div class="col-md-9">
                    @Html.DropDownList("idModelo", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idModelo, "", new { @class = "text-danger" })
                </div>
            </div>
       
       
        <div class="form-group">
                <b class="control-label col-md-3">Fecha Límite</b>           
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.fechaLimite, new { @class = "form-control datepicker", @datadateformat = "dd/mm/yyyy", @readonly = true, Value = DateTime.Now.ToShortDateString() })
                @Html.ValidationMessageFor(model => model.fechaLimite, "", new { @class = "text-danger" })
            </div>
   
                <b class="control-label col-md-2">Prioridad</b>           
            <div class="col-md-3">
                @Html.EnumDropDownListFor(model => model.prioridad, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.prioridad, "", new { @class = "text-danger" })
            </div>
        </div>
          </div>
        </div>
    
        <div class="modal-footer">
            <a class="btn btn-warning hidden-print" data-dismiss="modal">Cancelar</a>
            <input class="btn btn-success hidden-print" type="submit" value="Aceptar" id="submit" />
        </div>
   }

