@model WebApplication.DetallePresupuesto

@{
    ViewBag.Title = "Delete";  
}

<div class="modal-header ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>¿Está seguro de anular este detalle?</h3>    
</div>


<div class="modal-body ">

<div>  
   
    <dl class="dl-horizontal">
        <dt>
           Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
           Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelosEquipos.descripcion)
        </dd>
       
        <dt>
            Provee
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terceros.nombre)
        </dd>

        <dt>
           Horas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horas)
        </dd>

        <dt>
           Días
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dias)
        </dd>     

    </dl>


    @*es un misterio, cuando uso solamente un beginform sin antiforgery vuelve a la pagina anterior, sino
    da la antyforgery exception*@

    @using (Html.BeginForm()) {           
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="modal-footer">
            <button class="btn btn-warning hidden-print" data-dismiss="modal">No</button>
            <input class="btn btn-success hidden-print" type="submit" value="Si" />
        </div>
    }
    </div>
</div>

