@model WebApplication.Terceros

@{
    ViewBag.Title = "Activate";  
}

<div class="modal-header ">
   <a type="button" class="close" data-dismiss="modal" aria-hidden="true" href="">&times;</a>   
    <h3>¿Está seguro de activar este tercero?</h3>
</div>


<div class="modal-body ">

<div>
   
    <dl class="dl-horizontal">
       

        <dt>
           Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
           Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
           Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
           CUIL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuil)
        </dd>

        <dt>
           E-Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
           Celular
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            Observaciones
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones)
        </dd>

        <dt>
           Saldo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saldo)
        </dd>
                

        <dt>
           Tipo de tercero
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTerceros.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

         <div class="modal-footer">             
                <a class="btn btn-warning hidden-print" data-dismiss="modal">No</a>
                <input class="btn btn-success hidden-print" type="submit" value="Si" />
            </div>
    }
    </div>
</div>

