@model IEnumerable<WebApplication.PlanCuentasDeudor>
@{
    ViewBag.Title = "Plan de Cuentas Deudor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
    <script>
   $(function () {
       var menuItem = $('#left-sidebar-menu-gestion-contabilidad');
    menuItem.addClass('active');
    var subMenuItem = menuItem.find('#left-sidebar-menu-plan-deudor');
    subMenuItem.addClass('active');
   });
</script>
<script src="../../Scripts/tablaexportar.js"></script>
}


<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>



<div class="box">
    <div class="box-header">
        <h3 class="box-title"> Lista de planes de cuentas deudor</h3>
    </div>
    <div class="box-body">
        <p>
            @Html.ActionLink("Agregar un plan de cuentas deudor", "Create", "PlanCuentasDeudor", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-success" })

            <label><input type="checkbox" id="cbAnulados" value="cbAnulados">Mostrar anulados</label>
        </p>
        <table class="table table-bordered table-striped" id="tabla">
            <thead>
              <tr>
           <th>
               activo
           </th>
           <th>
               Descripción
           </th>
           <th>
            Acciones
            </th>
         </tr>
    </thead>
     <tfoot>
          <tr>
        <th>
           activo
        </th>
              <th>
                  Descripción
              </th>
              <th>
                Acciones
              </th>
           </tr>
          </tfoot>
          <tbody>
            @foreach (var item in Model) {
               <tr>
                   <td>
                       @{ if (item.activo == false)
                           {
                               @Html.Raw(0).ToHtmlString();

                           }
                           else
                           {
                               @Html.Raw(1).ToHtmlString();
                           }
                       }
                   </td>

                       <td>
                              @Html.DisplayFor(modelItem => item.descripcion)
                      </td>
      
                         <td>                          
                         @{if (item.activo == true)
                         {
                            @Html.Raw(@Html.ActionLink("XXX", "Edit", "PlanCuentasDeudor", new {id=item.idPlanCuentasDeudor }, new { data_modal = "", id = "btnEdit", @class = "btn btn-warning", @style = "margin-right:3px; margin-bottom:3px", @title = "Editar" }).ToHtmlString().Replace("XXX", "<i class='fa fa-pencil'></i>")) ;                                   
                            @Html.Raw(@Html.ActionLink("XXX", "Delete", "PlanCuentasDeudor", new { id=item.idPlanCuentasDeudor }, new { data_modal = "", id = "btnDelete", @class = "btn btn-danger", @style = "margin-right:3px; margin-bottom:3px", @title = "Anular" }).ToHtmlString().Replace("XXX", "<i class='fa fa-remove'></i>")) ;                                    
                         }
                         else
                         {
                            @Html.Raw(@Html.ActionLink("XXX", "Activate", "PlanCuentasDeudor", new { id=item.idPlanCuentasDeudor }, new { data_modal = "", id = "btnActivate", @class = "btn btn-success", @style = "margin-right:3px; margin-bottom:3px", @title = "Activar" }).ToHtmlString().Replace("XXX", "<i class='fa fa-arrow-up'></i>")) ;
                       }
                  }
                 </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
