@model WebApplication.HorasNoTrabajadas

@{
    ViewBag.Title = "Delete";  
}

<div class="modal-header ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
    <h3>¿Está seguro de anular este HorasNoTrabajadas?</h3>
</div>


<div class="modal-body ">

<div>
   

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.NameIdentifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.NameIdentifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eventos.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eventos.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Terceros.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terceros.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

         <div class="modal-footer">
                <button class="btn btn-warning hidden-print" data-dismiss="modal">No</button>
                <input class="btn btn-success hidden-print" type="submit" value="Si" />
            </div>
    }
    </div>
</div>

