@model WebApplication.Egresos


@{
    ViewBag.Title = "Editar Egreso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
<script src="~/AdminLTE/plugins/datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/AdminLTE/plugins/datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />


    <script>
        $(function () {
            var menuItem = $('#left-sidebar-menu-contabilidad');
            menuItem.addClass('active');
            var subMenuItem = menuItem.find('#left-sidebar-menu-egresos');
            subMenuItem.addClass('active');
        });
    </script>

<script src="~/Scripts/calcularIvaEgresos.js"></script>



<script type="text/javascript">
		$('document').ready(function() {
		    $('.datepicker').datepicker({
		        autoclose: true,
		        format: 'dd/mm/yyyy'
		    });
		});
</script>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body ">
        <div class="form-horizontal">              
         @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.idEgreso)
            @Html.HiddenFor(model => model.activo)
            @Html.HiddenFor(model => model.idUsuario)
           

       

            <div class="form-group">
                <b class="control-label col-md-2">Factura</b>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.factura, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.factura, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.EnumDropDownListFor(model => model.tipoFactura, htmlAttributes: new { @class = "form-control", @id="tipofactura", @onchange = "calcularIva()" })
                    @Html.ValidationMessageFor(model => model.tipoFactura, "", new { @class = "text-danger" })
                </div>

                <b class="control-label col-md-1">EB</b>
                <div class="col-md-1">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.enBlanco, new { htmlAttributes = new {  @id = "eb" } })
                        @Html.ValidationMessageFor(model => model.enBlanco, "", new { @class = "text-danger"})
                    </div>
                </div>
            </div>

            <div class="form-group">
                <b class="control-label col-md-2">Descripción</b>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <b class="control-label col-md-2">Emitida</b>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.fechaGenerada, new { Value = Model.fechaGenerada.ToShortDateString(), @class = "form-control datepicker", @datadateformat = "dd/mm/yyyy", @readonly = true })
                    @Html.ValidationMessageFor(model => model.fechaGenerada, "", new { @class = "text-danger" })
                </div>
                <b class="control-label col-md-2">Vencimiento</b>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.fechaVencimiento, new { @class = "form-control datepicker", @datadateformat = "dd/mm/yyyy", @readonly = true, Value = Model.fechaVencimiento.ToShortDateString() })
                    @Html.ValidationMessageFor(model => model.fechaVencimiento, "", new { @class = "text-danger" })
                </div>
               
            </div>
                  

            <div class="form-group">
                
                <b class="control-label col-md-2"> Pertenece a evento</b>
                <div class="col-md-4">
                    @Html.DropDownList("idEvento", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idEvento, "", new { @class = "text-danger" })
                </div>
                <b class="control-label col-md-2"> Tercero</b>
                <div class="col-md-4">
                    @Html.DropDownList("idTercero", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idTercero, "", new { @class = "text-danger" })
                </div>
            </div> 


        <div class="form-group">
             <b class="control-label col-md-2">Impuestos Internos</b>          
           <div class="col-md-4">   
                @Html.EditorFor(model => model.impuestosInternos, new { htmlAttributes = new {  @class = "form-control", @id="impuestosinternos", @onchange = "calcularIva()" } })
                @Html.ValidationMessageFor(model => model.impuestosInternos, "", new { @class = "text-danger" })
            </div>       
             <b class="control-label col-md-2">Ingresos Brutos</b>          
           <div class="col-md-4">   
                @Html.EditorFor(model => model.ingresosBrutos, new { htmlAttributes = new {  @class = "form-control", @id="ingresosbrutos", @onchange = "calcularIva()" } })
                @Html.ValidationMessageFor(model => model.ingresosBrutos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
             <b class="control-label col-md-2">IVA</b>          
           <div class="col-md-4">   
                @Html.EditorFor(model => model.iva, new { htmlAttributes = new {  @class = "form-control", @id="iva", @onchange = "calcularIva()" } })
                @Html.ValidationMessageFor(model => model.iva, "", new { @class = "text-danger" })
            </div>
        
             <b class="control-label col-md-2">Percepción Iva</b>          
           <div class="col-md-4">   
                @Html.EditorFor(model => model.percepcionIva, new { htmlAttributes = new { @class = "form-control", @id="percepcioniva", @onchange = "calcularIva()" } })
                @Html.ValidationMessageFor(model => model.percepcionIva, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                <b class="control-label col-md-2"> Cuenta contable </b>
                <div class="col-md-4">
                    @Html.DropDownList("idPlanCuentas", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idPlanCuentas, "", new { @class = "text-danger" })
                </div>
            </div>

        
        </div>
     </div>

    <div id="detailFrame">
        @{Html.RenderAction("Index", "DetalleEgresos", new { idEgreso = Model.idEgreso });}
    </div>

        <div class="modal-footer">
            <a class="btn btn-warning hidden-print" onClick="history.go(-1);return true;">Cancelar</a>   
            <input class="btn btn-success hidden-print" type="submit" value="Aceptar" id="submit" />
        </div>
}


