@model IEnumerable<WebApplication.Egresos>

<input hidden="hidden" value=3 id="fecha1" />
<input hidden="hidden" value=4 id="suma1" />
<input hidden="hidden" value=5 id="suma2" />
<input hidden="hidden" value=6 id="suma3" />

  <script src="../../Scripts/tablaexportar.js"></script>

    <div class="box-body">
     
        <table class="table table-bordered table-striped" id="tabla">
            <thead>
                <tr>
                    <th>
                        activo
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Factura y tipo
                    </th>                   
                    <th>
                        Vencimiento
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Pagado
                    </th>                    
                    <th>
                        Saldo
                    </th> 
                    <th>
                        Evento
                    </th>
                    <th>
                        Proveedor
                    </th>                   
                    <th>
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        activo
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Factura y tipo
                    </th>
                    <th>
                        Vencimiento
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Pagado
                    </th>
                    <th>
                        Saldo
                    </th>
                    <th>
                        Evento
                    </th>
                    <th>
                        Proveedor
                    </th>
                    <th>
                    </th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{ if (item.activo == false)
                                {
                                    @Html.Raw(0).ToHtmlString();

                                }
                                else
                                {
                                    @Html.Raw(1).ToHtmlString();
                                }
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.factura)-@Html.DisplayFor(modelItem => item.tipoFactura)
                            @{ if (item.enBlanco == true)
                                {
                                    <i class='fa fa-circle-o'></i>
                                }
                                else
                                {
                                    <i class='fa fa-circle'></i>
                                }
                            }
                        </td>                                               
                        <td>
                            @Html.Raw(item.fechaVencimiento.ToShortDateString()).ToHtmlString()
                        </td>
                        <td>
                            @{
                                decimal total = Convert.ToDecimal(Html.Action("getTotalEgreso", "Egresos", new { idEgreso = item.idEgreso }).ToString());
                                @Html.Raw(string.Format(new System.Globalization.CultureInfo("es-AR"), "{0:C}", total)).ToHtmlString()
                              
                            }                            
                        </td>
                        <td>
                            @{
                                decimal totalPagado = Convert.ToDecimal(Html.Action("getPagadoEgreso", "Egresos", new { idEgreso = item.idEgreso }).ToString());
                                @Html.Raw(string.Format(new System.Globalization.CultureInfo("es-AR"), "{0:C}", totalPagado)).ToHtmlString()
                             
                            }
                        </td>                       
                        <td>
                            @{   @Html.Raw(string.Format(new System.Globalization.CultureInfo("es-AR"), "{0:C}", total - totalPagado)).ToHtmlString()}
                        </td>                     
                        <td>
                            @Html.DisplayFor(modelItem => item.Eventos.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Terceros.nombre)
                        </td>                      
                        <td>                          
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
        </div>