@model WebApplication.HorasTrabajadasTecnico

@{
    ViewBag.Title = "Pagadas";  
}

<div class="modal-header ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
    <h3>¿Está seguro de marcar como no facturadas estas jornadas?</h3>
</div>


<div class="modal-body ">

<div>
   

    <dl class="dl-horizontal">
        <dt>
            Técnico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terceros.nombre)
        </dd>
        <dt>
            Fecha
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt>
           Jornadas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt>
            Evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eventos.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

         <div class="modal-footer">
                <button class="btn btn-warning hidden-print" data-dismiss="modal">No</button>
                <input class="btn btn-success hidden-print" type="submit" value="Si" />
            </div>
    }
    </div>
</div>

