@model WebApplication.Presupuestos 
@{
    ViewBag.Title = "Nuevo presupuesto";    
}
<script src="../../AdminLTE/plugins/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link href="~/AdminLTE/plugins/datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/AdminLTE/plugins/datetimepicker/js/locales/bootstrap-datetimepicker.es.js"></script>

<script type="text/javascript">
		$('document').ready(function() {
		    $('.datepicker').datetimepicker({
		        autoclose: true,
		        format: 'dd/mm/yyyy hh:ii:ss',
                language:'es'
		    });
		});
</script>




<div class="modal-header ">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true" href="">&times;</a>
    <h4 class="modal-title" id="myModalLabel">Agregar</h4>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="modal-body "> 
        <div class="form-horizontal" >     
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        
        <div class="form-group">
            <b class="control-label col-md-2"> Evento</b>
            <div class="col-md-10">
                @Html.DropDownList("idEvento", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idEvento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
                <b class="control-label col-md-2">Descripción</b>           
            <div class="col-md-5">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        
                <b class="control-label col-md-2">Bonificación</b>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.bonificacion, new { htmlAttributes = new { @id = "bonificacion", @class = "form-control", @onchange = "calcularPrecioPresupuesto()" , Value=0} })
                    @Html.ValidationMessageFor(model => model.bonificacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <b class="control-label col-md-2">Fecha de inicio</b>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.fechaInicio, new { Value = ViewBag.fechaInicio, @class = "form-control datepicker", @datadateformat = "dd/mm/yyyy hh:ii", @readonly = true })
                    @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
                </div>
            
                <b class="control-label col-md-2">Fecha de finalización</b>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.fechaFin, new { Value = ViewBag.fechaFin, @class = "form-control datepicker", @datadateformat = "dd/mm/yyyy hh:ii", @readonly = true })
                    @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <b class="control-label col-md-2">Estado</b>
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(model => model.estado, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                </div>                
                <b class="control-label col-md-2">Probabilidad de ser aprobado</b>
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(model => model.probabilidad,  new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.probabilidad, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
                <b class="control-label col-md-2">Observaciones</b>           
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control text-area", rows = "5" })
                @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
            </div>
        </div>

          </div>
        </div>

        <div class="modal-footer">
            <a class="btn btn-warning hidden-print" data-dismiss="modal">Cancelar</a>
            <input class="btn btn-success hidden-print" type="submit" value="Aceptar" id="submit" />
        </div>


                @*<div class="details">
            <h2>
                Servicios
            </h2>
            <table class="table table-responsive">
                <tr>
                    <td>Servicio</td>
                    <td>Proveedor</td>
                    <td>Cantidad</td>
                    <td>Horas</td>
                    <td>Dias</td>
                    <td>Costo x hora</td>
                    <td>Costo x día</td>
                    <td>Precio x hora</td>
                    <td>Precio x día</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="mycontainer" id="mainrow">
                    <td>
                        <select id="tipoServicio" class="pc form-control" onchange="CargarPrecios(this)">
                            <option>Select</option>
                        </select>
                        <span class="error">Selecciona un tipo de servicio</span>
                    </td>

                    <td>
                        <select id="terceros" class="product form-control">
                            <option>Select</option>
                        </select>
                        <span class="error">Selecciona un proveedor</span>
                    </td>
                    <td>
                        <input type="number" min="1" id="cantidad" class="quantity form-control" />
                        <span class="error">Valid cantidad required</span>
                    </td>
                    <td>
                        <input type="number" min="0" id="horas" class="form-control" />
                        <span class="error">Valid horas required</span>
                    </td>
                    <td>
                        <input type="number" min="0" id="dias" class="form-control" />
                        <span class="error">Valid dias required</span>
                    </td>                  
                    <td>
                        <input type="number" min="0" id="costoHora" class="form-control" />
                        <span class="error">Valid costo hora required</span>
                    </td>
                    <td>
                        <input type="number" min="0" id="costoDia" class="form-control" />
                        <span class="error">Valid costoDia required</span>
                    </td>
                    <td>
                        <input type="number" min="0" id="precioHora" class="form-control" />
                        <span class="error">Valid precio hora required</span>
                    </td>
                    <td>
                        <input type="number" min="0" id="precioDia" class="form-control" />
                        <span class="error">Valid precioDia required</span>
                    </td>
                    <td>
                        <input type="button" id="add" value="add" style="width:80px" class="btn btn-success hidden-print" />
                    </td>
                </tr>
            </table>
            <div id="orderItems">
                <table class="table table-responsive" id="orderdetailsItems"></table>
                <span id="orderItemError" style="color:red"></span>
            </div>
            <div style="padding:10px 0; text-align:right">
                <input id="submit" type="button" value="Save Order" class="btn btn-warning hidden-print" style="padding:10px 20px" />
            </div>
        </div>*@

   }

