@model WebApplication.Presupuestos

@{
    ViewBag.Title = "Delete";  
}

<div class="modal-header ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>¿Está seguro de anular este presupuesto?</h3>   
</div>


<div class="modal-body ">

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt>
            Parte del evento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eventos.descripcion)
        </dd>

        <dt>
            Fecha de inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            Fecha de Finalización
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            Creado por
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.NameIdentifier)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

         <div class="modal-footer">
                <button class="btn btn-warning hidden-print" data-dismiss="modal">No</button>
                <input class="btn btn-success hidden-print" type="submit" value="Si" />
            </div>
    }
    </div>
</div>

